body {
    background: var(--black);
    color: var(--white);
    font-family: var(--body-font);
    margin: 0;
}

.logo-container {
    padding: var(--p-s);
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--mg-xl);
    position: relative;

    background-image: url("/VD_Hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(75, 75, 75, .2)
    }
}

.hero-content {
    z-index: 2;
}

.hero-text-content {
    margin: 20vh var(--mg-xl) 0;   
}

.body-content {
    max-width: var(--content-width);
    width: 90%;
    margin: 0 auto;
}

.btn {
    border: none;
    padding: var(--p-s);

    background: var(--primary-400);
    transition: all .3s;

    &:hover {
        background: var(--primary-200);
    }
}