body {
    background: var(--black);
    color: var(--white);
    font-family: var(--body-font);
    margin: 0;
}

.logo-container {
    padding: var(--p-s);
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: url("/vd_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, var(--black), rgba(14,14,14, .6) 30%, transparent 60%);
    }
}

.hero-content {
    z-index: 2;
}

.hero-text-content {
    margin: 20vh var(--mg-xl) 0;   
}

.text-content {
    max-width: var(--content-width);
    width: 90%;
    margin: 0 auto;
}

.btn {
    border: none;
    padding: var(--p-m);
    margin: var(--mg-s) 0;

    background: var(--pink);
    transition: all .3s;

    &:hover {
        background: var(--primary-200);
    }
}

.project-step {
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    margin-bottom: var(--mg-m);

    h4 {
        font-weight: 600;
        margin-bottom: var(--mg-s);
    }

    p {
        margin-top: var(--mg-s);
        margin-bottom: var(--mg-m);
    }
}

.bg-white {
    background: var(--white);
    color: var(--black);
}